
Dersler/Intro/Intro/Entities/.DS_Store
Dersler/.DS_Store
Dersler/Intro/.DS_Store
Dersler/Intro/.vs/Intro/xs/project-cache/Intro-Debug.json
*.xml
Dersler/Intro/Intro/.DS_Store
Dersler/Intro/Intro/.vs/Intro/xs/project-cache/Intro-Debug.json
Dersler/Intro/Intro/Business/.DS_Store
*.json
.DS_Store
Odevler/MaskeTakip/Workaround/obj/Workaround.csproj.nuget.g.targets
Odevler/MaskeTakip/Workaround/obj/Workaround.csproj.nuget.g.props
Odevler/MaskeTakip/Workaround/obj/project.nuget.cache
Odevler/MaskeTakip/Workaround/obj/Debug/net6.0/Workaround.GlobalUsings.g.cs
Odevler/MaskeTakip/Workaround/obj/Debug/net6.0/Workaround.genruntimeconfig.cache
Odevler/MaskeTakip/Workaround/obj/Debug/net6.0/Workaround.GeneratedMSBuildEditorConfig.editorconfig
Odevler/MaskeTakip/Workaround/obj/Debug/net6.0/Workaround.csproj.FileListAbsolute.txt
Odevler/MaskeTakip/Workaround/obj/Debug/net6.0/Workaround.csproj.CoreCompileInputs.cache
Odevler/MaskeTakip/Workaround/obj/Debug/net6.0/Workaround.csproj.AssemblyReference.cache
Odevler/MaskeTakip/MaskeTakip.sln
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Dersler/Intro/Intro/Intro.csproj
*.cache
Dersler/Intro/Intro/obj/Debug/net7.0/Intro.GlobalUsings.g.cs
*.props
Dersler/Intro/Intro/obj/Intro.csproj.nuget.g.targets
*.editorconfig
Dersler/Intro/Intro/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
*.targets
Odevler/CSharpCourse/TypesAndVariables/TypesAndVariables.csproj
Dersler/Intro/Intro/obj/Debug/net7.0/Intro.AssemblyInfo.cs
Odevler/CSharpCourse/CSharpCourse.sln
Odevler/CSharpCourse/TypesAndVariables/obj/Debug/net7.0/TypesAndVariables.GlobalUsings.g.cs
Odevler/CSharpCourse/Conditionals/Conditionals.csproj
Odevler/CSharpCourse/Methods/Methods.csproj
Odevler/CSharpCourse/Arrays/Arrays.csproj
Odevler/CSharpCourse/Strings/Strings.csproj
Odevler/CSharpCourse/Loops/Loops.csproj
Odevler/CSharpCourse/Methods/obj/Debug/net7.0/Methods.GlobalUsings.g.cs
Odevler/CSharpCourse/Methods/obj/Debug/net7.0/Methods.AssemblyInfo.cs
Odevler/CSharpCourse/Methods/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Odevler/CSharpCourse/Classes/Classes.csproj
Odevler/CSharpCourse/Arrays/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Odevler/CSharpCourse/Arrays/obj/Debug/net7.0/Arrays.AssemblyInfo.cs
Odevler/CSharpCourse/Arrays/obj/Debug/net7.0/Arrays.GlobalUsings.g.cs
Odevler/CSharpCourse/Interfaces/Interfaces.csproj
Odevler/KodlamaioDemo/KodlamaioDemo/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Odevler/KodlamaioDemo/KodlamaioDemo/obj/Debug/net7.0/KodlamaioDemo.GlobalUsings.g.cs
Odevler/KodlamaioDemo/KodlamaioDemo/obj/Debug/net7.0/KodlamaioDemo.AssemblyInfo.cs
