
Dersler/Intro/Intro/Entities/.DS_Store
Dersler/.DS_Store
Dersler/Intro/.DS_Store
Dersler/Intro/.vs/Intro/xs/project-cache/Intro-Debug.json
*.xml
Dersler/Intro/Intro/.DS_Store
Dersler/Intro/Intro/.vs/Intro/xs/project-cache/Intro-Debug.json
Dersler/Intro/Intro/Business/.DS_Store
*.json
.DS_Store
Odevler/MaskeTakip/Workaround/obj/Workaround.csproj.nuget.g.targets
Odevler/MaskeTakip/Workaround/obj/Workaround.csproj.nuget.g.props
Odevler/MaskeTakip/Workaround/obj/project.nuget.cache
Odevler/MaskeTakip/Workaround/obj/Debug/net6.0/Workaround.GlobalUsings.g.cs
Odevler/MaskeTakip/Workaround/obj/Debug/net6.0/Workaround.genruntimeconfig.cache
Odevler/MaskeTakip/Workaround/obj/Debug/net6.0/Workaround.GeneratedMSBuildEditorConfig.editorconfig
Odevler/MaskeTakip/Workaround/obj/Debug/net6.0/Workaround.csproj.FileListAbsolute.txt
Odevler/MaskeTakip/Workaround/obj/Debug/net6.0/Workaround.csproj.CoreCompileInputs.cache
Odevler/MaskeTakip/Workaround/obj/Debug/net6.0/Workaround.csproj.AssemblyReference.cache
Odevler/MaskeTakip/MaskeTakip.sln
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Dersler/Intro/Intro/Intro.csproj
